{% extends "blogapp/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
          
        {% endif %}
        
      </div>
      
      <div style="float: right;">
         {% if user.is_authenticated %}
            <form action="{% url 'post-like' object.id %}" method="POST">
               {% csrf_token %}
               <br>
               {% if post_is_liked %}
               <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-info" style="font-family: cursive;">Unlike({{ number_of_likes }})</button>
               {% else %}
               <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-outline-info" style="font-family: cursive;">Like({{ number_of_likes }})</button>
               {% endif %}
            </form>
         {% else %}
            <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
         {% endif %}
         <!-- <strong class="text-secondary" style="font-family: cursive;">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong> -->
       </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p>
         <strong>Tags:</strong>
         {% for tag in post.tags.all %}
             <a href="{% url 'post-tag' tag.slug %}" class="link-light text-decoration-none badge bg-secondary">
                 {{tag.name}}
             </a>
             <!-- {% if not forloop.last %}, {% endif %} -->
         {% endfor %}
     </p>
      <p class="article-content">{{ object.content }}</p>
      {% if post.image %}
      <div><img src="{{ post.image.url }}" class="img-thumbnail" style="width: 100%; float: left; margin-right: 10px;" /></div>
      {% endif %}
    </div> 
   </article>
      <div class="container" style="align-items: center; font-family: cursive;">
         <h4 class="text-center">Comments:</h4>
         <form action="{% url 'add-comment' post_id=object.id %}" method="POST" class="mb-3" novalidate>
         {% csrf_token %}
         <div class="row">
            <div class="col-sm-8">
               <input type="text" name="comment" class="form-control" placeholder="Enter Your Comment">
               <input type="hidden" name="post" class="form-control" value="{{posts.post_id}}">
            </div>
            <div class="col-sm-4">
               <button type="submit" class="btn btn-primary">Submit</button>
            </div>
         </div>
         {% if request.method == "POST" and not comment %}
            <p class="text-danger">Please enter a comment.</p>
         {% endif %}
         </form>

         {% for comment in comments %}
         <div  style="border-radius: 20px;
         background: rgb(255, 255, 255);
         color: #000000;">
         <div  style="padding: 0 20px;">
            <div style="display: flex; border-bottom: 1px solid rgb(0, 0, 0); align-items: center;">
               <h5 class="mr-3 ">{{ comment.user.username }} </h5>
               <p class="mt-2">{{ comment.date_posted }}</p>
            </div>
               <p class="mt-2">{{ comment.comment }}</p>
         </div>
         </div>
         {% empty %}
            <h5>No reviews yet...</h5>
         {% endfor %}
         
      </div>
   
{% endblock content %}